SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/natalfy
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=root

GEMINI_API_KEY=sua_chave_do_google_gemini_aqui
JWT_SECRET=ChaveSecretaMuitoLongaEComplexaParaONatalfy2026SegurancaLGPD
